<span style="display: none; font-size: 0px; line-height: 0px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
    অভিনন্দন! আপনি {{ data.prize_amount }} মূল্যমানের {{ data.prize_place }} পুরস্কার পেয়েছেন &nbsp;
</span>

<center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#eaede9" style="width: 100%; height: 100%; margin: 0; padding: 0; border-collapse: collapse; background-color: #eaede9;">
        <tr>
            <td align="center" valign="top" style="height: 100%; margin: 0; padding: 0; width: 100%;">
                
                <!--top padding-->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse; table-layout: fixed !important;"><tr>
                    <td style="min-width: 100%; padding: 9px 18px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse;"><tr><td><span></span></td></tr></table>
                    </td>
                </tr></table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; max-width: 600px !important;">
                   
                    <!--Header Row-->
                    <tr>
                        <td align="center" valign="top"
                            style="
                                background: #ffffff none no-repeat center/cover;
                                background-color: #ffffff;
                                background-image: none;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                border-top: 0;
                                border-bottom: 0;
                                padding-top: 0px;
                                padding-bottom: 0px;">
                            <!--18px gap--> 
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse; table-layout: fixed !important;"><tr>
                                <td style="min-width: 100%; padding: 9px 18px;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse;"><tr><td><span></span></td></tr></table>
                                </td>
                            </tr></table>

                            <!--wbr-->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                <tr>
                                    <td valign="top">
                                        <div style="display: none; max-height: 0px; overflow: hidden;">
                                            &nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;&nbsp;‌&nbsp;‌
                                            <wbr /> &nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                                            <wbr /> &nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                                            <wbr /> &nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                                            <wbr /> &nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                                            <wbr /> &nbsp;‌&nbsp;‌&nbsp;‌&nbsp;&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                                            <wbr /> &nbsp;‌&nbsp;&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;
                                            <wbr /> &nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;&nbsp;‌&nbsp;‌
                                            <wbr /> &nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                                            <wbr /> &nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                                            <wbr /> &nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                                            <wbr /> &nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                                            <wbr /> &nbsp;‌&nbsp;‌&nbsp;‌&nbsp;&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp; ‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <!--Logo-->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse;">
                                <tr>
                                    <td valign="top" style="padding: 9px;">
                                        <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width: 100%; border-collapse: collapse;">
                                            <tr>
                                                <td align="center" valign="top" style="font-size: 48px;">
                                                    <a href="#" title="" target="_blank" style="color: #486346; text-decoration: none;">
                                                        <img
                                                            align="center"
                                                            alt="আমার প্রাইজবন্ড"
                                                            src="{{ data.app_url }}/images/email/logo-h600.png"
                                                            width="80%"
                                                            style="display: block; max-width: 100%; padding-bottom: 0; display: inline !important; vertical-align: bottom; border: 0; height: auto; outline: none; text-decoration: none;"
                                                        />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            
                            <!--banner-->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse;">
                                <tr>
                                    <td valign="top" style="padding: 18px; text-align: center;">
                                        <img
                                            align="center" alt="অভিনন্দন" width="100%"
                                            src="{{ data.app_url }}/images/email/banner-congrats.png" 
                                            style="max-width: 100%; padding-bottom: 0; display: inline !important; vertical-align: bottom; border: 0; height: auto; outline: none; text-decoration: none; color: #c7cfc4; background: #486346; font-size: 32px;"
                                        />
                                    </td>
                                </tr>
                            </table>
                            
                            <!--18px gap--> 
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse; table-layout: fixed !important;"><tr>
                                <td style="min-width: 100%; padding: 9px 18px;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse;"><tr><td><span></span></td></tr></table>
                                </td>
                            </tr></table>
                                        
                        </td>
                    </tr>
                    
                    <!--Body Row-->
                    <tr>
                        <td
                            align="center"
                            valign="top"
                            style="
                                background: #ffffff none no-repeat center/cover;
                                background-color: #ffffff;
                                background-image: none;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                border-top: 0;
                                border-bottom: 0;
                                padding-top: 0px;
                                padding-bottom: 0px;
                                border-bottom: 1px dotted #241c15;
                            "
                        >
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse;">
                                <tr>
                                    <td valign="top" style="
                                        padding-top: 18px;
                                        padding-right: 18px;
                                        padding-bottom: 18px;
                                        padding-left: 18px;
                                        word-break: break-word;
                                        color: #241c15;
                                        font-family: Helvetica;
                                        font-size: 16px;
                                        line-height: 150%;
                                        text-align: center;
                                    ">
                                        <span style="color: #486346; font-size: 30px;line-height: 150%;">
                                            আপনি {{ data.prize_amount }} টাকা মূল্যমানের<br />
                                            {{ data.prize_place }} পুরস্কার পেয়েছেন
                                        </span><br /><br />
                                        
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border: 1px dotted #dddddd;">
                                            <tr>
                                                <td style="padding: 9px; border: 1px dotted #dddddd;">
                                                    আপনার প্রাইজবন্ড নম্বর
                                                </td>
                                                <td style="padding: 9px; border: 1px dotted #dddddd;">
                                                    {{ data.number }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 9px; border: 1px dotted #dddddd;">
                                                    আপনার প্রাইজবন্ড সিরিজ
                                                </td>
                                                <td style="padding: 9px; border: 1px dotted #dddddd;">
                                                    {{ data.series }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 9px; border: 1px dotted #dddddd;">
                                                    পুরস্কারের স্থান
                                                </td>
                                                <td style="padding: 9px; border: 1px dotted #dddddd;">
                                                    {{ data.prize_place }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 9px; border: 1px dotted #dddddd;">
                                                    পুরস্কারের মূল্যমান
                                                </td>
                                                <td style="padding: 9px; border: 1px dotted #dddddd;">
                                                    {{ data.prize_amount }} টাকা
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 9px; border: 1px dotted #dddddd;">
                                                    প্রকাশিত ফলাফল নম্বর
                                                </td>
                                                <td style="padding: 9px; border: 1px dotted #dddddd;">
                                                    {{ data.result_serial }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 9px; border: 1px dotted #dddddd;">
                                                    ফলাফল প্রকাশের তারিখ
                                                </td>
                                                <td style="padding: 9px; border: 1px dotted #dddddd;">
                                                    {{ data.result_date }}
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <tr>
                        <td
                            align="center"
                            valign="top"
                            style="
                                background: #f8f8f8 none no-repeat center/cover;
                                background-color: #f8f8f8;
                                background-image: none;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                border-top: 0;
                                border-bottom: 0;
                                padding-top: 0px;
                                padding-bottom: 0px;
                                border-bottom: 1px dotted #241c15;
                            "
                        >
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse;">
                                <tr>
                                    <td valign="top" style="
                                        padding-top: 18px;
                                        padding-right: 18px;
                                        padding-bottom: 18px;
                                        padding-left: 18px;
                                        word-break: break-word;
                                        color: #241c15;
                                        font-family: Helvetica;
                                        font-size: 16px;
                                        line-height: 150%;
                                        text-align: center;
                                    ">
                                        
                                        <div style="color: #241c15; font-size: 24px; line-height: 150%; text-align: left; padding-bottom: 10px;">
                                            পুরস্কার পাবার নিয়ম
                                        </div>
                                        <div style="color: #241c15; font-size: 16px; line-height: 150%; text-align: left;">
                                            মূল প্রাইজবন্ডসহ সরকারের নির্ধারিত ফরমটি পূরণ করে অতিসত্তর আবেদন করুন।
                                            আবেদন করার সর্বোচ্চ দুই মাসের মধ্যে আপনাকে পে-অর্ডারের মাধ্যমে বিজয়ী 
                                            অর্থ পরিশোধ করা হবে।
                                        </div><br />
                                        
                                        <a href="https://www.bb.org.bd/services/forms/pbond_claimform.pdf" target="_blank" style="color: #241c15; font-size: 24px; line-height: 150%; text-decoration: underline;">
                                            নির্ধারিত ফরমটি ডাউনলোড করুন
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <tr>
                        <td
                            align="center"
                            valign="top"
                            style="
                                background: #fef4f6 none no-repeat center/cover;
                                background-color: #fef4f6;
                                background-image: none;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                border-top: 0;
                                border-bottom: 0;
                                padding-top: 0px;
                                padding-bottom: 0px;
                                border-bottom: 1px dotted #241c15;
                            "
                        >
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse;">
                                <tr>
                                    <td valign="top" style="
                                        padding-top: 18px;
                                        padding-right: 18px;
                                        padding-bottom: 18px;
                                        padding-left: 18px;
                                        word-break: break-word;
                                        color: #241c15;
                                        font-family: Helvetica;
                                        font-size: 16px;
                                        line-height: 150%;
                                        text-align: center;
                                    ">
                                        
                                        <div style="color: #f0506e; font-size: 24px; line-height: 150%; text-align: left; padding-bottom: 10px;">
                                            সতর্কতা
                                        </div>
                                        <div style="color: #f0506e; font-size: 16px; line-height: 150%; text-align: left;">
                                            ফলাফল প্রকাশিত হবার সর্বোচ্চ দুই বছরের ভেতর পুরস্কারপ্রাপ্তির আবেদন করতে হবে।
                                            অন্যথায় পুরস্কারের অর্থ তামাদি হয়ে সরকারি কোষাগারে ফেরত যাবে।
                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <!--Footer Row-->
                    <tr>
                        <td
                            align="center"
                            valign="top"
                            style="
                                background: #ffffff none no-repeat center/cover;
                                background-color: #ffffff;
                                background-image: none;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                border-top: 0;
                                border-bottom: 0;
                                padding-top: 0px;
                                padding-bottom: 0px;
                            "
                        >
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                <tr>
                                    <td valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                            <tr>
                                                <td align="center" valign="top">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width: 565px; width: 100%; border-collapse: collapse;">

                                                        <tr>
                                                            <td align="center" valign="top" style="padding: 24px 0 6px;">
                                                                <img
                                                                    alt="আমার প্রাইজবন্ড"
                                                                    src="{{ data.app_url }}/images/email/logo-h400.png"
                                                                    style="
                                                                        color: #241c15;
                                                                        font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
                                                                        font-size: 14px;
                                                                        padding: 0;
                                                                        width: 40%;
                                                                        border: 0;
                                                                        height: auto;
                                                                        outline: none;
                                                                        text-decoration: none;
                                                                    "
                                                                    width="40%"
                                                                />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                align="center"
                                                                valign="top"
                                                                style="color: #241c15; font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-size: 12px; padding: 18px 0; line-height: 1.5;"
                                                            >
                                                                <strong>©২০২০, আমার প্রাইজবন্ড</strong><br />
                                                                <a href="https://www.google.com/maps/place/Janata+Tower,+Dhaka+1215/@23.7540975,90.3910788,17z/" target="_blank"
                                                                    style="color: #241c15; text-decoration: none;">
                                                                    লেভেল – ১১, সফটওয়্যার টেকনোলজি পার্ক (জনতা টাওয়ার), <br />
                                                                    ৪৯ কারওয়ান বাজার, ঢাকা – ১২১৫
                                                                </a>
                                                                |
                                                                <a href="https://amarprizebond.com/" target="_blank" style="color: #241c15; text-decoration: none;">
                                                                    amarprizebond.com
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" valign="top" style="padding: 12px 0;">
                                                                <table style="border-collapse: collapse;">
                                                                    <tr>
                                                                        <td valign="middle" style="padding: 0 5px; font-size: 12px;">
                                                                            <a href="https://www.facebook.com/amarprizebond/" target="_blank" style="color: #241c15; text-decoration: none;">
                                                                                আমার প্রাইজবন্ড অনুসরণ করুন
                                                                            </a>
                                                                        </td>
                                                                        <td valign="middle" style="padding: 0 5px; font-size: 12px;">
                                                                            <a href="https://www.facebook.com/amarprizebond/" target="_blank" style="color: #241c15; text-decoration: none;">
                                                                                <img
                                                                                    alt="Facebook"
                                                                                    src="{{ data.app_url }}/images/email/fb.png"
                                                                                    style="
                                                                                        color: #241c15;
                                                                                        font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
                                                                                        font-size: 12px;
                                                                                        padding: 0;
                                                                                        width: 20px;
                                                                                        border: 0;
                                                                                        height: auto;
                                                                                        outline: none;
                                                                                        text-decoration: none;
                                                                                    "
                                                                                    width="20"
                                                                                />
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                </table>

                <table style="border-collapse: collapse;">
                    <tr>
                        <td valign="middle" style="padding: 10px 5px; font-size: 10px;">
                            <a href="[UNSUBSCRIBE]" style="color: #241c15; text-decoration: none;">
                               আমার প্রাইজবন্ড থেকে ইমেইল না পেতে চাইলে, এখানে ক্লিক করুন
                            </a>
                        </td>
                    </tr>
                </table>
                
                <!--bottom padding-->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse; table-layout: fixed !important;"><tr>
                    <td style="min-width: 100%; padding: 9px 18px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse;"><tr><td><span></span></td></tr></table>
                    </td>
                </tr></table>
                
            </td>
        </tr>
    </table>
</center>
